MANIFEST.in
COPYRIGHT
README
recursive-include ckanext *.py
recursive-include ckanext/csw/xml *.sch
recursive-include ckanext/csw/xml *.txt
recursive-include ckanext/csw/xml *.xsl
include setup.py
include setup.cfg
